{% extends 'layout.html' %}


{% block body%}
<br>

<div class="card card-body" >

  <h1 class="text-center">What operation dou want execute?</h1>
<hr>

  <a class="btn btn-info btn-sm " href="/create_new_password">Create new password for application</a>
  <br>
  <a class="btn btn-info btn-sm" href="/search_password">Find password for site or application</a>
  <br>
  <a class="btn btn-info btn-sm" href="{{url_for('views.search_by_email')}}">Search all app connect to email</a>
  <br>



  </div>
{% endblock %}
